
.community {
    width: 100%;
    max-width: 450px;
    height: 100vh; /* Limit height of community div */
    margin: auto;
    padding: 10px;
    margin-top: 0.8em;
    margin-bottom: 2em;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: auto; /* Add scroll bar when content overflows */
}

.header-arc {
  position: absolute;
  width: 100%;
  height: 400px;
  border-radius: 30%;
  background: #04288a;
  top: -240px; /* Adjusted to hide top part */
  left: 50%; /* Centers it horizontally */
  transform: translateX(-50%); /* Centers it horizontally */
  
}

.community-body{
   /* left: 50%;
   top: 50%; */
    width: 90%;
    margin:130px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    padding-bottom: 5px;
    overflow: hidden; /* Hide overflow initially */
 
}
.post-box {
    padding: 10px;
    border-radius: 15px;
    background-color: #aca8a8; /* Set the background color */
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2), 1px 5px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; /* Add space between post-box divs */
}
.post-list.show-scrollbar {
    overflow-y: auto; /* Show scrollbar when "See More" is clicked */
}
.chat-inputarea{
    display: flex;
    padding: 10px;
    background: #819eee;
    border-radius: 10px;
    margin-block-start: 20px;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  

.message-form{
    display: flex;
}

.msg{
    display: flex;
    /* align-items: flex-end; */
    margin-bottom: 10px;
   }
   
   /* .msg:last-of-type{
       margin: 0;
   } */
   
   
   .msg-img{
       width: 30px;
       height: 30px;
       margin-right: 15px;
       background-repeat: no-repeat;
       background-size: cover;
       background-position:center;
       border-radius: 50%;
   }
   .msg-bubble{
       max-width: 350px;
       /* padding: 5px; */
       border-radius: 15px;
       
   }
   .msg-info{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .msg-info-name{
       margin-right: 75px;
       font-weight: bold;
   }
   .msg-info-time{
       font-size: 0.8em;
       text-align: right;
   }
  
  .chat-inputarea *{
      padding: 5px;
      border: none;
      border-radius: 3px;
      font-size: 1em;
  }

 textarea{
    /* width: 100%;
    max-width: 350px; */
    flex: 1;
    background:transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

